@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?3smznr');
    src: url('fonts/icomoon.eot?3smznr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3smznr') format('truetype'),
    url('fonts/icomoon.woff?3smznr') format('woff'),
    url('fonts/icomoon.svg?3smznr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-location2:before {
    content: "\e948";
}

.icon-mobile:before {
    content: "\e958";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img {
    max-width: 100%;
}

.body {
    font-family: 'Poppins';
}

.container {
    margin: 0 auto;
}

.header {
    position: relative;
}

.header__wrapper {
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}

.header__img {
    padding-top: 30px;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__menu {
    padding-top: 46px;
}

.header__link {
    padding: 46px 25px;
    font-family: Poppins;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__button {
    text-align: center;
    padding-top: 33px;
}

.header__buttonn {
    border: 1px solid #FFFFFF;
    border-radius: 39px;
    padding: 18px 46px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #FFFFFF;
}

.header__heading {
    font-family: Poppins;
    white-space: pre-line;
    font-weight: 900;
    font-size: 55px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 174px;
}

.header__text {
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #E5E5E5;
    padding-top: 27px;
}

.header__buttons {
    display: flex;
    justify-content: center;
    padding-top: 71px;
    padding-bottom: 101px;
}

.header__button1 {
    font-family: Poppins;
    margin-right: 13px;
    background: #FFFFFF;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    padding: 18px 46px;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #112D57;
    text-decoration: none;
}

.header__button2 {
    font-family: Poppins;
    border: 1px solid #FFFFFF;
    border-radius: 39px;
    padding: 18px 46px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-decoration: none;
    color: #FFFFFF;
}

.header__screen {
    display: flex;
    justify-content: center;
}

/* cards */
.content {
    &__wrapper {
        position: relative;
    }

    &__head {
        font-family: Poppins;
        padding-top: 110px;
        padding-bottom: 101.5px;
        font-weight: 500;
        font-size: 46px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #000000;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 31px;
        padding-bottom: 138.5px;
        max-width: 1270px;
        margin: 0 auto;
    }

    &__card {
        padding: 40px 60px;
        box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
        border: 1px solid transparent;
        border-radius: 10px;
        transition: all .3s;

        &:hover {
            background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            transition: all .3s;

            .content__text,
            .content__link,
            .content__heading {
                color: #FFFFFF;
            }

            .content__img path {
                fill: #FFFFFF !important;
            }
        }
    }

    &__img path {
        fill: #03D6F3 !important;
        transition: all .3s;
    }

    &__heading {
        font-family: Poppins;
        padding-top: 10px;
        font-weight: bold;
        font-size: 30px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #000000;
        transition: all .3s;
    }

    &__text {
        font-family: Poppins;
        padding-top: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #5C5C5C;
        transition: all .3s;
    }

    &__link {
        font-family: Poppins;
        padding-bottom: 50px;
        font-weight: normal;
        font-size: 15px;
        line-height: 27px;
        color: #03D6F3;
        padding-top: 30px;
        text-decoration: none;
        transition: all .3s;
    }
}

.text {
    padding-top: 30px;
}

/* specificity */
.specificity {
    display: flex;
    justify-content: center;
}

.specificity__wrapper {
    display: flex;
    padding-left: 156px;
    padding-right: 156px;
}

.specificity__content {
    display: flex;
    flex-direction: column;
}

.specificity__heading {
    font-family: Poppins;
    padding-top: 235.2px;
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #000000;

}

.specificity__text {
    font-family: Poppins;
    padding-top: 46px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
}

.specificity__buttons {
    display: flex;
    padding-top: 36px;
}

.specificity__button1 {
    font-family: Poppins;
    padding: 18px 46px;
    background: #03D6F3;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 22px;
}

.specificity__button2 {
    font-family: Poppins;
    padding: 18px 46px;
    background: #FFFFFF;
    border: 1px solid #30D7BA;
    box-sizing: border-box;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #30D7BA;
    text-decoration: none;
}

.specificity__img {
    padding-top: 110px;
    display: flex;
    flex-direction: row-reverse;
}

/* Finance */

.finance {
    display: flex;
    justify-content: center;
}

.finance__wrapper {
    display: flex;
    padding-left: 156px;
    padding-right: 156px;
}

.finance__content {
    display: flex;
    flex-direction: column;
}

.finance__img {
    padding-top: 110px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: row;

}

.finance__heading {
    font-family: Poppins;
    padding-top: 235.2px;
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #000000;

}

.finance__text {
    font-family: Poppins;
    padding-top: 46px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
}

.finance__button {
    display: flex;
    padding-top: 37px;
}

.finance__button1 {
    font-family: Poppins;
    padding: 18px 46px;
    background: #03D6F3;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

/* businesse */

.businesse {
    display: flex;
    justify-content: center;
}

.businesse__wrapper {
    display: flex;
    padding-left: 156px;
    padding-right: 156px;
}

.businesse__content {
    display: flex;
    flex-direction: column;
}

.businesse__heading {
    font-family: Poppins;
    padding-top: 110px;
    padding-top: 235.2px;
    font-weight: 500;
    font-size: 46px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #000000;

}

.businesse__text {
    font-family: Poppins;
    padding-top: 110px;
    padding-top: 46px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #5C5C5C;
}

.businesse__buttons {
    display: flex;
    padding-top: 36px;
}

.businesse__button1 {
    font-family: Poppins;
    padding: 18px 46px;
    background: #03D6F3;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 22px;
}

.businesse__button2 {
    font-family: Poppins;
    padding: 18px 46px;
    background: #FFFFFF;
    border: 1px solid #30D7BA;
    box-sizing: border-box;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #30D7BA;
    text-decoration: none;
}

.businesse__img {
    padding-top: 110px;
    display: flex;
    flex-direction: row-reverse;
}

.pricing {
    &__wrapper {
        padding-top: 174px;
        position: relative;
    }

    &__heading__basis {
        text-align: center;
        font-weight: 500;
        font-size: 46px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #000000;
    }

    &__text__basis {
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #5C5C5C;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 335px);
        grid-column-gap: 31px;
        justify-content: center;
        padding-top: 63px;
    }

    &__card {
        padding: 40px;
        border: 1px solid #DEDEDE;
        border-radius: 10px;
    }

    &__heading__main {
        font-weight: bold;
        font-size: 30px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #000000;
        padding-top: 50px;
    }

    &__text__main {
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #5C5C5C;
    }

    &__img {
        padding-top: 30px;
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 45px;
        padding-top: 30px;
    }

    &__heading {
        line-height: 65px;
        font-weight: 900;
        font-size: 55px;
        letter-spacing: 0.2px;
        color: #30D7BA;
    }

    &__heading2 {
        font-weight: bold;
        font-size: 30px;
        line-height: 33px;
        color: #30D7BA;
    }

    &__texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__text {
        font-weight: normal;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #000000;
        padding-bottom: 20px;
    }

    &__button {
        display: block;
        margin-top: 30px;
        padding: 18px 81px;
        background: #03D6F3;
        box-shadow: 0 4px 31px rgba(0, 0, 0, 0.15);
        border-radius: 39px;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        text-decoration: none;
    }
}

/* subscribe */
.subscribe {
    padding-bottom: 113px;
}

.subscribe__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    width: 50%;
    height: 1px;
    background: #E0E0E0;
    margin-bottom: 15px;
    margin-top: 134px;
}

.subscribe__main {
    padding-top: 123px;
}

.subscribe__heading {
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    color: #000000;
}

.subscribe__text {
    text-align: center;
    padding-top: 27px;
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    color: #5C5C5C;
}

.subscribe__place {
    padding-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe__button2 {
    padding: 18px 46px;
    background: #03D6F3;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 22px;
}


.footer {

    background: #112D57;
}

.footer__wrapper {
    padding-top: 62px;
    padding-bottom: 62px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer__links {
    display: flex;
    align-items: flex-start;
}

.footer__content1 {
    padding-right: 84px;
}

.footer__heading {
    padding-top: 66px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.text__decor {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration: none
}

.tekst {
    padding-bottom: 20px;
}

.footer__image {
    display: flex;
    flex-direction: row;
    padding-top: 44.42px;
}

.footer__img {
    padding-right: 32.33px;
}
