doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Diplom
  link(rel='stylesheet', href='styles/main.css')
header.header
  .container
    .header__wrapper
      .header__nav
        .header__img
          img(src='./img/figma.png', alt='Pic')
        nav.header__menu
          a.header__link(href='#home') Home
          a.header__link(href='#product') Product
          a.header__link(href='#about') About
          a.header__link(href='#footer') Contact
        .header__button
          a.header__buttonn(href='#') Sign up
      h1.header__heading
        | Find the Best Solution
        | in Seconds
      p.header__text If debugging is the process of removing software bugs.
      .header__buttons
        .header__button
          a.header__button1(href='#') get started
        .header__button
          a.header__button2(href='#') try for free
      .header__screen
        img(src='./img/screen.png', alt='Pic')
        
#about.content
  .container
    .content__wrapper
      h1.content__head
        | FigmaLand was Built Specifically
        | for You
      .content__cards
        .content__card
          .content__img
            | <svg width="71" height="103" viewBox="0 0 71 103" fill="none" xmlns="http://www.w3.org/2000/svg">
            | <path d="M17.7857 37.7833L11.4971 31.4617L15.66 27.2572L21.919 33.6086L17.7857 37.7833ZM38.4524 20.1901V29.1358H32.5476V20.1901H38.4524ZM59.5029 31.4617L53.2143 37.7833L49.081 33.6086L55.34 27.2572L59.5029 31.4617ZM13.3571 48.5181V54.4819H4.5V48.5181H13.3571ZM57.6429 48.5181H66.5V54.4819H57.6429V48.5181ZM17.7857 76.8462H53.2143C54.7803 76.8462 56.2822 77.4745 57.3896 78.5929C58.4969 79.7114 59.119 81.2283 59.119 82.81H11.881C11.881 81.2283 12.5031 79.7114 13.6104 78.5929C14.7178 77.4745 16.2197 76.8462 17.7857 76.8462ZM35.5 32.1177C40.1981 32.1177 44.7038 34.0027 48.0259 37.3579C51.348 40.7132 53.2143 45.264 53.2143 50.0091V73.8643H17.7857V50.0091C17.7857 45.264 19.652 40.7132 22.9741 37.3579C26.2962 34.0027 30.8019 32.1177 35.5 32.1177Z" fill="#03D6F3"/>
            | </svg>
          h1.content__heading Management
          p.content__text
            | Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
          p.text
            a.content__link(href='#') Learn More
        .content__card
          .content__img
            | <svg width="67" height="101" viewBox="0 0 67 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            | <path d="M33.5 46.9899C34.4309 46.9899 35.3238 47.3597 35.982 48.018C36.6403 48.6762 37.0101 49.5691 37.0101 50.5C37.0101 51.4309 36.6403 52.3238 35.982 52.982C35.3238 53.6403 34.4309 54.0101 33.5 54.0101C32.5691 54.0101 31.6762 53.6403 31.018 52.982C30.3597 52.3238 29.9899 51.4309 29.9899 50.5C29.9899 49.5691 30.3597 48.6762 31.018 48.018C31.6762 47.3597 32.5691 46.9899 33.5 46.9899ZM6.19132 23.1913C11.2108 18.1719 22.0921 20.4183 33.5 27.8949C44.9079 20.4183 55.7892 18.1719 60.8087 23.1913C65.8281 28.2108 63.5817 39.0921 56.1051 50.5C63.5817 61.9079 65.8281 72.7892 60.8087 77.8087C55.7892 82.8281 44.9079 80.5817 33.5 73.1051C22.0921 80.5817 11.2108 82.8281 6.19132 77.8087C1.17186 72.7892 3.41833 61.9079 10.8949 50.5C3.41833 39.0921 1.17186 28.2108 6.19132 23.1913ZM45.9258 38.0742C48.067 40.2505 50.0326 42.4618 51.8579 44.6732C56.7018 37.1967 58.4569 30.7732 55.8243 28.1757C53.2268 25.5431 46.8033 27.2982 39.3268 32.1421C41.5382 33.9674 43.7495 35.933 45.9258 38.0742ZM21.0742 62.9258C18.933 60.7495 16.9674 58.5382 15.1421 56.3268C10.2982 63.8033 8.54309 70.2268 11.1757 72.8243C13.7732 75.4569 20.1967 73.7018 27.6732 68.8579C25.4618 67.0326 23.2505 65.067 21.0742 62.9258ZM11.1757 28.1757C8.54309 30.7732 10.2982 37.1967 15.1421 44.6732C16.9674 42.4618 18.933 40.2505 21.0742 38.0742C23.2505 35.933 25.4618 33.9674 27.6732 32.1421C20.1967 27.2982 13.7732 25.5431 11.1757 28.1757ZM26.0586 57.9414C28.5156 60.3985 31.0429 62.645 33.5 64.6458C35.9571 62.645 38.4844 60.3985 40.9414 57.9414C43.3985 55.4844 45.645 52.9571 47.6458 50.5C45.645 48.0429 43.3985 45.5156 40.9414 43.0586C38.4844 40.6015 35.9571 38.355 33.5 36.3542C31.0429 38.355 28.5156 40.6015 26.0586 43.0586C23.6015 45.5156 21.355 48.0429 19.3542 50.5C21.355 52.9571 23.6015 55.4844 26.0586 57.9414ZM55.8243 72.8243C58.4569 70.2268 56.7018 63.8033 51.8579 56.3268C50.0326 58.5382 48.067 60.7495 45.9258 62.9258C43.7495 65.067 41.5382 67.0326 39.3268 68.8579C46.8033 73.7018 53.2268 75.4569 55.8243 72.8243Z" fill="white"/>
            | </svg>
          h1.content__heading Customer Support
          p.content__text
            | Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
          p.text
            a.content__link(href='#') Learn More
        .content__card
          .content__img
            | <svg width="65" height="93" viewBox="0 0 65 93" fill="none" xmlns="http://www.w3.org/2000/svg">
            | <path d="M52.5873 46.5H46.9109V55.0145H38.3964V60.6909H52.5873V46.5ZM18.5291 37.9855H27.0436V32.3091H12.8527V46.5H18.5291V37.9855ZM58.2636 20.9564H7.17636C5.6709 20.9564 4.22709 21.5545 3.16257 22.619C2.09804 23.6835 1.5 25.1273 1.5 26.6328V66.3672C1.5 67.8727 2.09804 69.3165 3.16257 70.381C4.22709 71.4455 5.6709 72.0436 7.17636 72.0436H58.2636C59.7691 72.0436 61.2129 71.4455 62.2774 70.381C63.342 69.3165 63.94 67.8727 63.94 66.3672V26.6328C63.94 25.1273 63.342 23.6835 62.2774 22.619C61.2129 21.5545 59.7691 20.9564 58.2636 20.9564ZM58.2636 66.3672H7.17636V26.6328H58.2636V66.3672Z" fill="#03D6F3"/>
            | </svg>
          h1.content__heading Collaborative
          p.content__text
            | Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
          p.text
            a.content__link(href='#') Learn More
  .specificity
    .container
      .specificity__wrapper
        .specificity__content
          h1.specificity__heading Quick &amp; Easy Processs
          p.specificity__text
            | Most calendars are designed for teams. Slate is designed
            | for freelancers who want a simple way to plan
            | their schedule.
          .specificity__buttons
            .specificity__button
              a.specificity__button1(href='#') sign up for free
            .specificity__button
              a.specificity__button2(href='#') find out more
        .specificity__img
          img(src='./img/img1.png', alt='Pic')
  .finance
    .container
      .finance__wrapper
        .finance__img
          img(src='./img/img2.png', alt='Pic')
        .finance__content
          h1.finance__heading
            | Perfect for Operations
            | HR and Finance
          p.finance__text
            | Most calendars are designed for teams. Slate is designed
            | for freelancers who want a simple way to plan
            | their schedule.
          .finance__button
            a.finance__button1(href='#') Button
  // текст идет не по макету
  .businesse
    .container
      .businesse__wrapper
        .businesse__content
          h1.businesse__heading
            | Perfect solution
            | for small
            | businesse
          p.businesse__text
            | Being a freelancer is a
            | rollercoaster of emotions.
            | We built Slate to keep your
            | freelance business less stressful.
            | We&apos;d love to show you
            | what we&apos;re building...
          .businesse__buttons
            .businesse__button
              a.businesse__button1(href='#') sign up for free
            .businesse__button
              a.businesse__button2(href='#') find out more
        .businesse__img
          img(src='./img/img3.png', width='580', height='470', alt='Pic')
  .pricing
    .container
      .pricing__wrapper
        .pricing__content
          h1.pricing__heading__basis Simple Pricing for Your Team
          p.pricing__text__basis Slate helps you see how many more days you need
        #product.pricing__cards
          .pricing__card1
            h1.pricing__heading__main Education
            p.pricing__text__main Brief price Description
            .pricing__img
              img(src='./img/ph1.png', alt='Pic')
            .pricing__price
              .pricing__price1
                h1.pricing__heading 0
              .pricing__price2
                h1.pricing__heading2 $
                p.pricing__text__main Per/ month
            .pricing__texts
              p.pricing__text Only 2 Operators
              p.pricing__text Abandoned Cart
              p.pricing__text Facebook &amp; Instagram Ads
              p.pricing__text Order Notifications
              p.pricing__text Landing Pages
            .pricing__button
              a.pricing__button2(href='#') Order Now
          .pricing__card2
            h1.pricing__heading__main Professional
            p.pricing__text__main Brief price Description
            .pricing__img
              img(src='./img/ph2.png', alt='Pic')
            .pricing__price
              .pricing__price1
                h1.pricing__heading 10
              .pricing__price2
                h1.pricing__heading2 $
                p.pricing__text__main Per/ month
            .pricing__texts
              p.pricing__text Only 2 Operators
              p.pricing__text Abandoned Cart
              p.pricing__text Facebook &amp; Instagram Ads
              p.pricing__text Order Notifications
              p.pricing__text Landing Pages
            .pricing__button
              a.pricing__button2(href='#') Order Now
          .pricing__card3
            h1.pricing__heading__main Business
            p.pricing__text__main Brief price Description
            .pricing__img
              img(src='./img/ph3.png', alt='Pic')
            .pricing__price
              .pricing__price1
                h1.pricing__heading 99
              .pricing__price2
                h1.pricing__heading2 $
                p.pricing__text__main Per/ month
            .pricing__texts
              p.pricing__text Only 2 Operators
              p.pricing__text Abandoned Cart
              p.pricing__text Facebook &amp; Instagram Ads
              p.pricing__text Order Notifications
              p.pricing__text Landing Pages
            .pricing__button
              a.pricing__button2(href='#') Order Now
  .subscribe
    .container
      .subscribe__wrapper
        .line
        .subscribe__main
          h1.subscribe__heading SUBSCRIBE
          p.subscribe__text Subscribe to get exclusive news &amp; offer
        .subscribe__place
          .input__style
            input(type='Email', placeholder='Enter Your Adress Email', style='padding: 14px 28px; background:#EFEFEF; border: 1px solid #D0D0D0; border-radius: 6px; margin-right: 10px;')
          .subscribe__button
            a.subscribe__button2(href='#') SUBSCRIBE
  section#footer.footer
    .container
      .footer__wrapper
        .footer__links
          .footer__content1
            p.tekst
              a.text__decor(href='#') Price Item One
            p.tekst
              a.text__decor(href='#') Price Item Two
            p.tekst
              a.text__decor(href='#') Price Item Three
            h1.footer__heading Just type what&apos;s on your mind
          .footer__content2
            p.tekst
              a.text__decor(href='#') Price Item One
            p.tekst
              a.text__decor(href='#') Price Item Two
            p.tekst
              a.text__decor(href='#') Price Item Three
        .footer__img
          img(src='./img/map.png', alt='Pic')
        .footer__content
          p.tekst
            span.icon-location2
            a.text__decor(href='#') 7480 Mockingbird Hill undefined
          p.tekst
            span.icon-mobile
            a.text__decor(href='#') (239) 555-0108
          .footer__image
            .footer__img
              img(src='./img/tw.png', alt='Pic')
            .footer__img
              img(src='./img/fb.png', alt='Pic')
            .footer__img
              img(src='./img/in.png', alt='Pic')
