doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Diplom
  link(rel='stylesheet', href='main.css')
header.header
  .container
    .header__wrapper
      .header__nav
        .header__img
          img(src='./img/figma.png', alt='Pic')
        nav.header__menu
          a.header__link(href='#home') Home
          a.header__link(href='#') Product
          a.header__link(href='#') About
          a.header__link(href='#footer') Contact
        .header__button
          a.header__buttonn(href='#') Sign up
      h1.header__heading
        | Find the Best Solution
        | in Seconds
      p.header__text If debugging is the process of removing software bugs.
      .header__buttons
        .header__button
          a.header__button1(href='#') get started
        .header__button
          a.header__button2(href='#') try for free
      .header__screen
        img(src='./img/screen.png', alt='Pic')
// кривые карточки / проблеммы с ссылками
.content
  .container
    .content__wrapper
      h1.content__head
        | FigmaLand was Built Specifically
        | for You
      .content__cards
        .content__card1
          .content__img
            img(src='./img/pic1.png', alt='Pic')
          h1.content__heading Management
          p.content__text
            | Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
          p.text
            a.content__link(href='#') Learn More
        .content__card2
          .content__img
            img(src='./img/pic2.png', alt='Pic')
          h1.content__heading2 Customer Support
          p.content__text2
            | Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
          p.text
            a.content__link2(href='#') Learn More
        .content__card3
          .content__img
            img(src='./img/pic3.png', alt='Pic')
          h1.content__heading Collaborative
          p.content__text
            | Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
          p.text
            a.content__link(href='#') Learn More
  .specificity
    .container
      .specificity__wrapper
        .specificity__content
          h1.specificity__heading Quick &amp; Easy Processs
          p.specificity__text
            | Most calendars are designed for teams. Slate is designed
            | for freelancers who want a simple way to plan
            | their schedule.
          .specificity__buttons
            .specificity__button
              a.specificity__button1(href='#') sign up for free
            .specificity__button
              a.specificity__button2(href='#') find out more
        .specificity__img
          img(src='./img/img1.png', alt='Pic')
  .finance
    .container
      .finance__wrapper
        .finance__img
          img(src='./img/img2.png', alt='Pic')
        .finance__content
          h1.finance__heading
            | Perfect for Operations
            | HR and Finance
          p.finance__text
            | Most calendars are designed for teams. Slate is designed
            | for freelancers who want a simple way to plan
            | their schedule.
          .finance__button
            a.finance__button1(href='#') Button
  // текст идет не по макету
  .businesse
    .container
      .businesse__wrapper
        .businesse__content
          h1.businesse__heading
            | Perfect solution
            | for small
            | businesse
          p.businesse__text
            | Being a freelancer is a
            | rollercoaster of emotions.
            | We built Slate to keep your
            | freelance business less stressful.
            | We&apos;d love to show you
            | what we&apos;re building...
          .businesse__buttons
            .businesse__button
              a.businesse__button1(href='#') sign up for free
            .businesse__button
              a.businesse__button2(href='#') find out more
        .businesse__img
          img(src='./img/img3.png', width='580', height='470', alt='Pic')
  .pricing
    .container
      .pricing__wrapper
        .pricing__content
          h1.pricing__heading__basis Simple Pricing for Your Team
          p.pricing__text__basis Slate helps you see how many more days you need 
        .pricing__cards
          .pricing__card1
            h1.pricing__heading__main Education
            p.pricing__text__main Brief price Description
            .pricing__img
              img(src='./img/ph1.png', alt='Pic')
            .pricing__price
              .pricing__price1
                h1.pricing__heading 0
              .pricing__price2
                h1.pricing__heading2 $
                p.pricing__text__main Per/ month
            .pricing__texts
              p.pricing__text Only 2 Operators
              p.pricing__text Abandoned Cart
              p.pricing__text Facebook &amp; Instagram Ads
              p.pricing__text Order Notifications
              p.pricing__text Landing Pages
            .pricing__button
              a.pricing__button2(href='#') Order Now
            .pricing__card2
              h1.pricing__heading__main Professional
              p.pricing__text__main Brief price Description
              .pricing__img
                img(src='./img/ph2.png', alt='Pic')
              .pricing__price
                .pricing__price1
                  h1.pricing__heading 10
                .pricing__price2
                  h1.pricing__heading2 $
                  p.pricing__text__main Per/ month
              .pricing__texts
                p.pricing__text Only 2 Operators
                p.pricing__text Abandoned Cart
                p.pricing__text Facebook &amp; Instagram Ads
                p.pricing__text Order Notifications
                p.pricing__text Landing Pages
              .pricing__button
                a.pricing__button2(href='#') Order Now
              .pricing__card3
                h1.pricing__heading__main Business
                p.pricing__text__main Brief price Description
                .pricing__img
                  img(src='./img/ph3.png', alt='Pic')
                .pricing__price
                  .pricing__price1
                    h1.pricing__heading 99
                  .pricing__price2
                    h1.pricing__heading2 $
                    p.pricing__text__main Per/ month
                .pricing__texts
                  p.pricing__text Only 2 Operators
                  p.pricing__text Abandoned Cart
                  p.pricing__text Facebook &amp; Instagram Ads
                  p.pricing__text Order Notifications
                  p.pricing__text Landing Pages
                .pricing__button
                  a.pricing__button2(href='#') Order Now
      .subscribe
        .container
          .subscribe__wrapper
            .line
            .subscribe__main
              h1.subscribe__heading SUBSCRIBE
              p.subscribe__text Subscribe to get exclusive news &amp; offer
            .subscribe__place
              p.input__style
                input(type='Email', placeholder='Enter Your Adress Email')
              .subscribe__button
                a.subscribe__button2(href='#') SUBSCRIBE
      .footer
        .container
          .footer__wrapper
            .footer__links
              .footer__content1
                p.tekst
                  a.text__decor(href='#') Price Item One
                p.tekst
                  a.text__decor(href='#') Price Item Two
                p.tekst
                  a.text__decor(href='#') Price Item Three
                h1.footer__heading Just type what&apos;s on your mind 
              .footer__content2
                p.tekst
                  a.text__decor(href='#') Price Item One
                p.tekst
                  a.text__decor(href='#') Price Item Two
                p.tekst
                  a.text__decor(href='#') Price Item Three
            .footer__img
              img(src='./img/map.png', alt='Pic')
            .footer__content
              p.tekst
                span.icon-location2
                a.text__decor(href='#') 7480 Mockingbird Hill undefined 
              p.tekst
                span.icon-mobile
                a.text__decor(href='#') (239) 555-0108 
              .footer__image
                .footer__img
                  img(src='./img/tw.png', alt='Pic')
                .footer__img
                  img(src='./img/fb.png', alt='Pic')
                .footer__img
                  img(src='./img/in.png', alt='Pic')
